.header{
    display: flex;
    flex:0.8;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex:1;
    background-color: chocolate;
    padding:10px 0px;
    justify-content: center;
}
.headerLogo{
    display: flex;
    justify-content: flex-start;
    flex:1;

}
.headerItem{
    text-decoration: none;
    margin-right: 20px;
    color:wheat;
    font-size: 20px;
}
.flag{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}